<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         cacheResult="false">
  <testsuites>
    <testsuite name="NotaBene Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="TEST_DB_HOST" value="127.0.0.1"/>
    <env name="TEST_DB_PORT" value="3306"/>
    <env name="TEST_DB_NAME" value="test_notabene"/>
    <env name="TEST_DB_USER" value="root"/>
    <env name="TEST_DB_PASS" value="root"/>
  </php>
</phpunit>
